<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="svController" >
        <table>
            <tr>
                <td>Nhập họ: </td>
                <td>
                    <input type="text" ng-model="sinhvien.ho" >
                </td>
            </tr>
            <tr>
                <td>Nhập tên: </td>
                <td>
                    <input type="text" ng-model="sinhvien.ten" >
                </td>
            </tr>
            <tr>
                <td>Nhập học phí: </td>
                <td>
                    <input type="text" ng-model="sinhvien.hocphi" >
                </td>
            </tr>
            <tr>
                <td>Nhập môn học: </td>
                <td>
                    <input type="text" ng-model="tenMonHoc" >
                </td>
            </tr>
        </table>
        <br />
        <table>
            <tr>
                <td>Tên chữ hoa: </td>
                <td>{{sinhvien.hoten() | uppercase}}</td>
            </tr>
            <tr>
                <td>Tên chữ thường: </td>
                <td>{{sinhvien.hoten() | lowercase}}</td>
            </tr>
            <tr>
                <td>Học phí: </td>
                <td>{{sinhvien.hocphi | currency}}</td>
            </tr>
            <tr>
                <td>Môn học: </td>
                <td>
                    <ol>
                        <li ng-repeat="mh in sinhvien.tenMonHoc | filter: tenMonHoc | orderBy: 'diemthi'">
                            {{mh.ten + ' - Điểm thi: ' + mh.diemthi}}
                        </li>
                    </ol>
                </td>
            </tr>
        </table>
    </div>

    <script>
        var myapp = angular.module('myapp', []);
        myapp.controller('svController', function($scope){
            $scope.sinhvien = {
                ho: 'Nguyễn Thế ',
                ten: 'Tuân',
                hocphi: 500,
                tenMonHoc: [
                    {ten: 'Vật lý', diemthi: '8'},
                    {ten: 'Văn học', diemthi: '7'},
                    {ten: 'Toán', diemthi: '9'}
                ],
                hoten: function(){
                    var dtsv;
                    dtsv = $scope.sinhvien;
                    return dtsv.ho + ' ' + dtsv.ten;
                }
            }
        });
    </script>
</body>
</html>